In [63]:
import pandas as pd
import numpy as np
import urllib

In [64]:
tanks = pd.read_csv("tanks_loc.csv")
houses = pd.read_csv("data.csv")

In [65]:
houses.head(3) # TODO

,house_data_x,house_data_y,demand_per_house_liters,area_per_house_metersq,capacity_for_tank_per_house_lt,rainfall_estimate_for_city_mm,average_length_of_pipe_per_house,fixed_cost_of_tank_placement_per_house,cost_per_liters_tank_per_house
0,503.705,717.782,82.555,134.387,13.439,100,10.892,1000,500
1,-16.408,1218.144,149.185,136.867,13.687,100,-8.318,1000,500
2,234.719,878.906,129.046,43.958,4.396,100,-16.879,1000,500

In [66]:
tanks.head(3) # TODO

   tanks_x  tanks_y
0  658.352  613.397
1   42.195  146.886
2  518.215  603.465

In [67]:
NUM_TANKS = len(tanks)
NUM_HOUSES = len(houses)

In [68]:
NUM_TANKS, NUM_HOUSES # TODO

(50, 200)

In [69]:
# FOR EVERY HOUSE AND TANK, ASSIGN EVERY HOUSE A NEAREST TANK BASED ON THE CLUSTER

# CREATING 2D ARRAY OF TANKS
tanks_houses = [[] for j in range(NUM_TANKS)]

for i in range(len(houses)):
    # LOC OF HOUSE
    hx, hy = houses.house_data_x.iloc[i],houses.house_data_y.iloc[i]
    min_dist_from_house_to_tank = np.inf
    min_dist_tank = None
    
    for j in range(len(tanks)):
        # LOC OF TANKS
        tx, ty = tanks.tanks_x.iloc[j], tanks.tanks_y.iloc[j]
        
        # DIST ~ APPROX
        dist = np.sqrt( (ty- hy)**2 + (tx- hx)**2)
        
        if dist<min_dist_from_house_to_tank:
            min_dist_from_house_to_tank = dist
            min_dist_tank = j
            
    tanks_houses[min_dist_tank].append(i) # appending the house
    
tanks_houses[:10] # TODO

[[58, 60, 81, 88, 108],
 [102, 116, 131, 141, 150, 172],
 [9],
 [19, 149, 167],
 [],
 [],
 [],
 [16, 25, 73, 90, 127],
 [68],
 [13, 26, 28, 57, 138]]

In [70]:
len(tanks_houses) # TODO 
# COMMENT OUT THIS LINE

50

In [71]:
# ASSUMING THE DATA FOR CIJ
def calculate_capacity_of_tanks(tanks_houses):
    capacity_of_jth_tank = []
    for j in range(len(tanks_houses)):
        houses_tank = tanks_houses[j]
        capacity = np.sum(houses_tank)
        capacity_of_jth_tank.append(capacity)
    return capacity_of_jth_tank
capacity_of_jth_tank= calculate_capacity_of_tanks(tanks_houses)
'capacity of jth tank',capacity_of_jth_tank[:10] # TODO

('capacity of jth tank', [395, 812, 9, 335, 0.0, 0.0, 0.0, 331, 68, 262])

In [72]:
print('tanks with no capacity(no houses connected) are:', [tank for tank in range(len(capacity_of_jth_tank)) if capacity_of_jth_tank[tank]==0])
# TODO

tanks with no capacity(no houses connected) are: [4, 5, 6, 12, 21, 23, 24, 29, 33, 37, 40, 44, 46]

In [82]:
FIXED_COST_OF_PIPES_PER_METER = 100
CIJ = [[0 for i in range(NUM_TANKS)] for j in range(NUM_HOUSES)]
print(np.array(CIJ).shape) # TODO
for i in range(NUM_HOUSES):
    hx, hy = houses.house_data_x.iloc[i],houses.house_data_y.iloc[i]
    for j in range(NUM_TANKS):
        tx, ty = tanks.tanks_x.iloc[j], tanks.tanks_y.iloc[j]
        dist = np.sqrt( (ty- hy)**2 + (tx- hx)**2)
        
        CIJ[i][j]= dist*FIXED_COST_OF_PIPES_PER_METER

CIJ = np.array(CIJ)

(200, 50)

In [86]:
cost_of_setting_jth_tank = []
for j in range(len(tanks_houses)):
    houses_linked_to_tank = tanks_houses[j]
    cost = 0
    if capacity_of_jth_tank[j] >=0: 
        cost = houses.cost_per_liters_tank_per_house[j]
    for house_index in (houses_linked_to_tank):
        cost += CIJ[house_index][j]
        
    cost_of_setting_jth_tank.append(cost)
        
cost_of_setting_jth_tank # TODO

[23967.876601147727,
 43158.86721492848,
 4277.120354185181,
 11810.858597053124,
 500,
 500,
 500,
 23497.88452880658,
 5736.397059047375,
 25894.51528559896,
 128410.71940849691,
 16514.004673254036,
 500,
 4840.068046701576,
 11163.269065628174,
 28781.982728116534,
 21533.593201368192,
 47592.09412266749,
 38379.358399644094,
 12501.00934505094,
 3230.6407617993227,
 500,
 55276.57901206816,
 500,
 500,
 296214.467094478,
 30459.3447607679,
 101470.402705687,
 21025.52190608487,
 500,
 16662.586741926192,
 13092.546707643669,
 12582.072615660296,
 500,
 40128.48756195127,
 19510.0756017913,
 94912.5590091082,
 500,
 4114.621208370247,
 42816.51091547911,
 500,
 264073.9707724943,
 112075.6741362034,
 71168.06378548211,
 500,
 19193.271891371765,
 500,
 13398.048810027185,
 112111.7955886975,
 8674.793784323836]

In [99]:
houses.head() # TODO

,house_data_x,house_data_y,demand_per_house_liters,area_per_house_metersq,capacity_for_tank_per_house_lt,rainfall_estimate_for_city_mm,average_length_of_pipe_per_house,fixed_cost_of_tank_placement_per_house,cost_per_liters_tank_per_house
0,503.705,717.782,82.555,134.387,13.439,100,10.892,1000,500
1,-16.408,1218.144,149.185,136.867,13.687,100,-8.318,1000,500
2,234.719,878.906,129.046,43.958,4.396,100,-16.879,1000,500
3,871.943,354.177,103.514,102.750,10.275,100,53.069,1000,500
4,87.194,332.712,138.877,228.421,22.842,100,-6.246,1000,500

In [87]:
# import sys

# sys.argv[1]
# sys.argv[2]

In [114]:
import numpy as np
import codecs, json 

List = [{} for j in range(NUM_TANKS)]

for j in range(NUM_TANKS):
    List[j]['x'] = tanks['tanks_x'].iloc[j].astype('float32')
    List[j]['y'] = tanks['tanks_y'].iloc[j].astype('float32')
    List[j]['stability'] = 1.00
    List[j]['capacity'] = capacity_of_jth_tank[j].astype('float32')
    List[j]['cost_of_making'] = cost_of_setting_jth_tank[j].astype('float32')
    
temp = pd.DataFrame(List)
temp.head()
values = temp.values
print(json.dumps(values.tolist())) # TODO 
# FINAL

[[395.0, 23967.876953125, 1.0, 658.3519897460938, 613.39697265625], [812.0, 43158.8671875, 1.0, 42.19499969482422, 146.88600158691406], [9.0, 4277.1201171875, 1.0, 518.2150268554688, 603.4650268554688], [335.0, 11810.8583984375, 1.0, 962.469970703125, 785.7230224609375], [0.0, 500.0, 1.0, 216.7480010986328, 148.16799926757812], [0.0, 500.0, 1.0, 773.6179809570312, 10.744000434875488], [0.0, 500.0, 1.0, 911.9249877929688, 86.68800354003906], [331.0, 23497.884765625, 1.0, 598.9869995117188, 845.7000122070312], [68.0, 5736.39697265625, 1.0, 84.1050033569336, 101.88899993896484], [262.0, 25894.515625, 1.0, 631.676025390625, 719.8629760742188], [1367.0, 128410.71875, 1.0, 10.300999641418457, 468.45001220703125], [243.0, 16514.00390625, 1.0, 793.8930053710938, 775.926025390625], [0.0, 500.0, 1.0, 393.260009765625, 8.118000030517578], [32.0, 4840.06787109375, 1.0, 617.7620239257812, 536.4420166015625], [305.0, 11163.26953125, 1.0, 421.9419860839844, 596.135986328125], [470.0, 28781.982421875, 1.0, 584.2420043945312, 481.2969970703125], [403.0, 21533.59375, 1.0, 549.3400268554688, 561.5540161132812], [1027.0, 47592.09375, 1.0, 771.6790161132812, 791.18798828125], [553.0, 38379.359375, 1.0, 21.73699951171875, 784.3469848632812], [14.0, 12501.009765625, 1.0, 243.08700561523438, 421.9840087890625], [46.0, 3230.640869140625, 1.0, 217.4810028076172, 308.30999755859375], [0.0, 500.0, 1.0, 398.2250061035156, 453.9410095214844], [569.0, 55276.578125, 1.0, 106.21700286865234, 294.1390075683594], [0.0, 500.0, 1.0, 456.7229919433594, 386.07598876953125], [0.0, 500.0, 1.0, 530.0070190429688, 69.01300048828125], [2177.0, 296214.46875, 1.0, 558.594970703125, 905.1810302734375], [762.0, 30459.345703125, 1.0, 738.9180297851562, 557.322998046875], [1494.0, 101470.40625, 1.0, 805.7050170898438, 379.8479919433594], [138.0, 21025.521484375, 1.0, 176.82000732421875, 612.39501953125], [0.0, 500.0, 1.0, 244.35000610351562, 273.24200439453125], [351.0, 16662.5859375, 1.0, 768.843017578125, 509.343994140625], [226.0, 13092.546875, 1.0, 174.6269989013672, 217.02499389648438], [269.0, 12582.072265625, 1.0, 734.052978515625, 650.1719970703125], [0.0, 500.0, 1.0, 898.5289916992188, 738.9229736328125], [157.0, 40128.48828125, 1.0, 284.97100830078125, 702.489990234375], [229.0, 19510.076171875, 1.0, 881.7030029296875, 881.781005859375], [538.0, 94912.5625, 1.0, 913.1480102539062, 144.93499755859375], [0.0, 500.0, 1.0, 249.71600341796875, 173.06199645996094], [54.0, 4114.62109375, 1.0, 816.3670043945312, 693.1519775390625], [441.0, 42816.51171875, 1.0, 557.9970092773438, 196.39100646972656], [0.0, 500.0, 1.0, 411.47100830078125, 690.447998046875], [2061.0, 264073.96875, 1.0, 32.01900100708008, 890.8090209960938], [1265.0, 112075.671875, 1.0, 704.0989990234375, 894.2750244140625], [781.0, 71168.0625, 1.0, 948.6729736328125, 515.4099731445312], [0.0, 500.0, 1.0, 300.9729919433594, 379.7080078125], [510.0, 19193.271484375, 1.0, 487.7300109863281, 605.0150146484375], [0.0, 500.0, 1.0, 273.9200134277344, 288.5710144042969], [226.0, 13398.048828125, 1.0, 512.5750122070312, 739.4920043945312], [795.0, 112111.796875, 1.0, 13.97599983215332, 901.5430297851562], [185.0, 8674.7939453125, 1.0, 649.7130126953125, 501.38299560546875]]