In [63]:
import pandas as pd
import numpy as np
import urllib

In [64]:
tanks = pd.read_csv("tanks_loc.csv")
houses = pd.read_csv("data.csv")

In [65]:
houses.head(3)

,house_data_x,house_data_y,demand_per_house_liters,area_per_house_metersq,capacity_for_tank_per_house_lt,rainfall_estimate_for_city_mm,average_length_of_pipe_per_house,fixed_cost_of_tank_placement_per_house,cost_per_liters_tank_per_house
0,503.705,717.782,82.555,134.387,13.439,100,10.892,1000,500
1,-16.408,1218.144,149.185,136.867,13.687,100,-8.318,1000,500
2,234.719,878.906,129.046,43.958,4.396,100,-16.879,1000,500

In [66]:
tanks.head(3)

   tanks_x  tanks_y
0  658.352  613.397
1   42.195  146.886
2  518.215  603.465

In [67]:
NUM_TANKS = len(tanks)
NUM_HOUSES = len(houses)

In [68]:
NUM_TANKS, NUM_HOUSES

(50, 200)

In [69]:
# FOR EVERY HOUSE AND TANK, ASSIGN EVERY HOUSE A NEAREST TANK BASED ON THE CLUSTER

# CREATING 2D ARRAY OF TANKS
tanks_houses = [[] for j in range(NUM_TANKS)]

for i in range(len(houses)):
    # LOC OF HOUSE
    hx, hy = houses.house_data_x.iloc[i],houses.house_data_y.iloc[i]
    min_dist_from_house_to_tank = np.inf
    min_dist_tank = None
    
    for j in range(len(tanks)):
        # LOC OF TANKS
        tx, ty = tanks.tanks_x.iloc[j], tanks.tanks_y.iloc[j]
        
        # DIST ~ APPROX
        dist = np.sqrt( (ty- hy)**2 + (tx- hx)**2)
        
        if dist<min_dist_from_house_to_tank:
            min_dist_from_house_to_tank = dist
            min_dist_tank = j
            
    tanks_houses[min_dist_tank].append(i) # appending the house
    
tanks_houses[:10]

[[58, 60, 81, 88, 108],
 [102, 116, 131, 141, 150, 172],
 [9],
 [19, 149, 167],
 [],
 [],
 [],
 [16, 25, 73, 90, 127],
 [68],
 [13, 26, 28, 57, 138]]

In [70]:
len(tanks_houses)

50

In [71]:
# ASSUMING THE DATA FOR CIJ
def calculate_capacity_of_tanks(tanks_houses):
    capacity_of_jth_tank = []
    for j in range(len(tanks_houses)):
        houses_tank = tanks_houses[j]
        capacity = np.sum(houses_tank)
        capacity_of_jth_tank.append(capacity)
    return capacity_of_jth_tank
capacity_of_jth_tank= calculate_capacity_of_tanks(tanks_houses)
'capacity of jth tank',capacity_of_jth_tank[:10]

('capacity of jth tank', [395, 812, 9, 335, 0.0, 0.0, 0.0, 331, 68, 262])

In [72]:
print('tanks with no capacity(no houses connected) are:', [tank for tank in range(len(capacity_of_jth_tank)) if capacity_of_jth_tank[tank]==0])

tanks with no capacity(no houses connected) are: [4, 5, 6, 12, 21, 23, 24, 29, 33, 37, 40, 44, 46]

In [82]:
FIXED_COST_OF_PIPES_PER_METER = 100
CIJ = [[0 for i in range(NUM_TANKS)] for j in range(NUM_HOUSES)]
print(np.array(CIJ).shape)
for i in range(NUM_HOUSES):
    hx, hy = houses.house_data_x.iloc[i],houses.house_data_y.iloc[i]
    for j in range(NUM_TANKS):
        tx, ty = tanks.tanks_x.iloc[j], tanks.tanks_y.iloc[j]
        dist = np.sqrt( (ty- hy)**2 + (tx- hx)**2)
        
        CIJ[i][j]= dist*FIXED_COST_OF_PIPES_PER_METER

CIJ = np.array(CIJ)

(200, 50)

In [86]:
cost_of_setting_jth_tank = []
for j in range(len(tanks_houses)):
    houses_linked_to_tank = tanks_houses[j]
    cost = 0
    if capacity_of_jth_tank[j] >=0: 
        cost = houses.cost_per_liters_tank_per_house[j]
    for house_index in (houses_linked_to_tank):
        cost += CIJ[house_index][j]
        
    cost_of_setting_jth_tank.append(cost)
        
cost_of_setting_jth_tank

[23967.876601147727,
 43158.86721492848,
 4277.120354185181,
 11810.858597053124,
 500,
 500,
 500,
 23497.88452880658,
 5736.397059047375,
 25894.51528559896,
 128410.71940849691,
 16514.004673254036,
 500,
 4840.068046701576,
 11163.269065628174,
 28781.982728116534,
 21533.593201368192,
 47592.09412266749,
 38379.358399644094,
 12501.00934505094,
 3230.6407617993227,
 500,
 55276.57901206816,
 500,
 500,
 296214.467094478,
 30459.3447607679,
 101470.402705687,
 21025.52190608487,
 500,
 16662.586741926192,
 13092.546707643669,
 12582.072615660296,
 500,
 40128.48756195127,
 19510.0756017913,
 94912.5590091082,
 500,
 4114.621208370247,
 42816.51091547911,
 500,
 264073.9707724943,
 112075.6741362034,
 71168.06378548211,
 500,
 19193.271891371765,
 500,
 13398.048810027185,
 112111.7955886975,
 8674.793784323836]

In [74]:
houses

,house_data_x,house_data_y,demand_per_house_liters,area_per_house_metersq,capacity_for_tank_per_house_lt,rainfall_estimate_for_city_mm,average_length_of_pipe_per_house,fixed_cost_of_tank_placement_per_house,cost_per_liters_tank_per_house
0,503.705,717.782,82.555,134.387,13.439,100,10.892,1000,500
1,-16.408,1218.144,149.185,136.867,13.687,100,-8.318,1000,500
2,234.719,878.906,129.046,43.958,4.396,100,-16.879,1000,500
3,871.943,354.177,103.514,102.750,10.275,100,53.069,1000,500
4,87.194,332.712,138.877,228.421,22.842,100,-6.246,1000,500
5,509.135,1071.488,129.098,82.071,8.207,100,-16.000,1000,500
6,909.454,291.184,173.590,14.649,1.465,100,7.738,1000,500
7,614.569,964.334,183.159,104.225,10.423,100,-21.565,1000,500
8,775.006,584.061,86.941,12.260,1.226,100,86.077,1000,500
9,554.634,613.481,65.566,96.834,9.683,100,24.506,1000,500
10,1195.261,289.486,65.254,105.747,10.575,100,-18.401,1000,500
11,550.548,587.802,197.021,119.722,11.972,100,57.224,1000,500
12,118.589,343.540,190.271,149.081,14.908,100,41.055,1000,500
13,617.293,668.637,122.816,121.076,12.108,100,74.264,1000,500
14,141.870,486.463,71.259,114.434,11.443,100,53.682,1000,500
15,496.474,886.491,105.709,93.679,9.368,100,-22.312,1000,500
16,581.701,872.008,175.679,55.600,5.560,100,54.325,1000,500
17,862.852,319.915,117.557,144.235,14.423,100,-6.857,1000,500
18,785.035,642.304,95.553,87.233,8.723,100,24.794,1000,500
19,993.951,777.462,145.848,52.480,5.248,100,50.272,1000,500
20,120.657,550.165,125.282,187.877,18.788,100,70.402,1000,500
21,1001.441,338.141,59.236,93.349,9.335,100,25.581,1000,500
22,146.257,992.779,119.458,38.348,3.835,100,-50.634,1000,500
23,87.164,882.671,78.752,145.836,14.584,100,26.972,1000,500
24,156.927,207.230,101.981,93.039,9.304,100,22.258,1000,500
25,624.586,821.705,73.602,77.091,7.709,100,64.801,1000,500
26,691.454,766.801,74.485,182.043,18.204,100,87.098,1000,500
27,234.697,979.459,55.586,159.301,15.930,100,51.304,1000,500
28,647.071,709.013,154.381,122.585,12.259,100,9.222,1000,500
29,769.838,815.930,133.670,132.145,13.215,100,-0.174,1000,500
...,...,...,...,...,...,...,...,...,...
170,865.134,262.898,119.567,113.552,11.355,100,17.144,1000,500
171,139.547,821.951,80.538,112.485,11.248,100,67.940,1000,500
172,91.202,210.400,55.201,107.190,10.719,100,71.076,1000,500
173,716.825,596.926,46.404,133.197,13.320,100,-15.551,1000,500
174,-92.449,523.103,82.703,121.965,12.197,100,0.965,1000,500
175,405.683,1130.614,74.563,-17.222,-1.722,100,-14.936,1000,500
176,118.889,370.156,22.515,113.402,11.340,100,43.078,1000,500
177,824.854,186.854,127.902,99.177,9.918,100,80.328,1000,500
178,63.289,497.595,108.924,7.566,0.757,100,-29.824,1000,500
179,806.258,304.758,93.374,114.455,11.446,100,50.307,1000,500
180,747.626,373.959,154.461,82.643,8.264,100,-12.997,1000,500
181,758.501,900.148,148.904,92.523,9.252,100,38.262,1000,500
182,687.589,241.426,131.530,97.705,9.770,100,-32.683,1000,500
183,766.048,304.713,104.569,93.763,9.376,100,78.128,1000,500
184,265.172,1047.090,104.393,123.917,12.392,100,-8.441,1000,500
185,89.267,961.524,115.070,73.995,7.400,100,10.995,1000,500
186,864.201,401.682,228.640,25.963,2.596,100,-2.839,1000,500
187,775.803,777.280,80.629,88.271,8.827,100,5.890,1000,500
188,499.145,653.956,116.584,132.571,13.257,100,30.271,1000,500
189,731.731,607.814,99.862,31.022,3.102,100,86.507,1000,500
190,394.669,604.165,112.317,51.770,5.177,100,86.155,1000,500
191,700.978,580.342,157.740,86.802,8.680,100,48.530,1000,500
192,-25.415,402.859,115.816,48.455,4.846,100,43.049,1000,500
193,632.335,430.330,114.348,192.303,19.230,100,-28.860,1000,500
194,807.859,283.883,60.671,80.766,8.077,100,16.985,1000,500
195,1004.884,509.369,61.012,-11.405,-1.140,100,4.439,1000,500
196,849.996,464.407,112.406,128.001,12.800,100,62.301,1000,500
197,467.032,558.186,115.398,56.884,5.688,100,61.756,1000,500
198,139.758,1025.139,155.439,5.065,0.507,100,79.106,1000,500
199,614.161,1131.612,29.332,90.754,9.075,100,40.178,1000,500