In [2]:
import pandas as pd
import numpy as np
import urllib

In [9]:
tanks = pd.read_csv("tanks_loc.csv")
houses = pd.read_csv("data.csv")

In [10]:
houses.head(3)

,house_data_x,house_data_y,demand_per_house_liters,area_per_house_metersq,capacity_for_tank_per_house_lt,rainfall_estimate_for_city_mm,average_length_of_pipe_per_house,fixed_cost_of_tank_placement_per_house,cost_per_liters_tank_per_house
0,503.705,717.782,82.555,134.387,13.439,100,10.892,1000,500
1,-16.408,1218.144,149.185,136.867,13.687,100,-8.318,1000,500
2,234.719,878.906,129.046,43.958,4.396,100,-16.879,1000,500

In [11]:
tanks.head(3)

   tanks_x  tanks_y
0  658.352  613.397
1   42.195  146.886
2  518.215  603.465

In [12]:
NUM_TANKS = len(tanks)
NUM_HOUSES = len(houses)

In [13]:
NUM_TANKS, NUM_HOUSES

(50, 200)

In [15]:
# FOR EVERY HOUSE AND TANK, ASSIGN EVERY HOUSE A NEAREST TANK BASED ON THE CLUSTER
for i in range(len(houses)):
    hx, hy = houses.house_data_x.iloc[i],houses.house_data_y.iloc[i]
    for j in range(len(tanks)):
        tx, ty = tanks.tanks_x.iloc[j], tanks.tanks_y.iloc[j]
        cost = np.sqrt( (ty- hy)**2)

In [ ]:
# ASSUMING THE DATA FOR CIJ