In [2]:
#This program calculates the Naive cost of installing rainwater harvesting tanks in a city.
#
#Data collected: 
#rainfall data (CSV)
#housing data (CSV)
#return value:
#overall cost of project in the city. (currency)

In [3]:
import numpy as np                       #for array manipulations and pandas support
import pandas as pd                      #for interacting with dataframe 
import math

In [21]:
# reading data

data = pd.read_csv('data.csv')
data.head()

,house_data_x,house_data_y,demand_per_house_liters,area_per_house_metersq,capacity_for_tank_per_house_lt,rainfall_estimate_for_city_mm,average_length_of_pipe_per_house,fixed_cost_of_tank_placement_per_house,cost_per_liters_tank_per_house
0,503.705,717.782,82.555,134.387,13.439,100,10.892,1000,500
1,-16.408,1218.144,149.185,136.867,13.687,100,-8.318,1000,500
2,234.719,878.906,129.046,43.958,4.396,100,-16.879,1000,500
3,871.943,354.177,103.514,102.750,10.275,100,53.069,1000,500
4,87.194,332.712,138.877,228.421,22.842,100,-6.246,1000,500

### Fixed costs assumed

In [24]:
FC_TANK_PLACEMENT = 1000 # Rs.
FIXED_COST_PIPE_PER_METER = 120 # Rs.
COST_PER_LITERS_TANK = 500 # Rs
NUM_HOUSES = len(data)

print("columns names in given data")
for x in (data.columns):
    print(x)

columns data names
house_data_x
house_data_y
demand_per_house_liters
area_per_house_metersq
capacity_for_tank_per_house_lt
rainfall_estimate_for_city_mm
average_length_of_pipe_per_house
fixed_cost_of_tank_placement_per_house
cost_per_liters_tank_per_house

## Various costs calculation

In [35]:
def calculate_cost_of_setup_per_house(data):
    costs = data['fixed_cost_of_tank_placement_per_house'] + data['capacity_for_tank_per_house_lt']*data['cost_per_liters_tank_per_house']
    return costs

total_cost_of_setup = sum(calculate_cost_of_setup_per_house(data))
print('average_cost_of_setup_per_house', average_cost_of_setup_per_house)

average_cost_of_setup_per_house = sum(calculate_cost_of_setup_per_house(data)/NUM_HOUSES)
print('average_cost_of_setup_per_house',average_cost_of_setup_per_house)

average_cost_of_setup_per_house 1165728.0
average_cost_of_setup_per_house 5828.639999999998